{%extends 'base.html' %}

{% block title %} Pets Homepage {% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Add a new pet!</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form action="">
                    {{form.hidden_tag()}}
                    {% for field in form 
                        if field.widget.input_type !='hidden' %}       
                    <p>
                        <div class="form-group">
                            {{field.label}}
                            {{field(class_="form-control")}}
                        </div>    
                    </p>
                    
                        



                    {%endfor%}
                    <button class="btn btn-outline-success btn-lg btn-block" formaction="/pets/add" formmethod="POST">Add!</button>
                    <a href="/" class="btn btn-outline-danger btn-lg btn-block" >Cancel</a>
                </form>

            </div>

        </div>

</div>


{% endblock %}